.name{
font-family: 'Poppins', sans-serif;
text-decoration: none;
color:rgb(0, 0, 0);
font-size:28px;
padding-left:20px;
margin-bottom:0px;
}

.bg-animation{
    background:linear-gradient(90deg,rgb(214, 190, 145),rgb(64, 100, 57),rgb(101, 101, 184)
    );
    animation:navbar-animation 18s linear infinite;
    background-size: 180% 180%;
}
@keyframes navbar-animation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.section-hero{
    height:92vh;
    display:flex;
    align-items:center;
    justify-content:center;

}
.hero-boy h2{
    color:white;
}

.profile-img{
    height:200px;
    width:200px;
    object-fit:cover;
    border-radius:50%;

}
.dot{
    font-size:50px;
    letter-spacing: 10px;
    color:rgb(0, 200, 255)
}
.skill-1{
    color:rgb(0, 200, 255);
    font-size:25px;
    font-weight: bolder;
}
.skill-2{
    background-color: rgb(0, 200, 255);
    padding:10px 20px;
    border-radius:20px;
    color:rgb(0, 0, 0);
    font-size:22px;
    font-family:sans-serif
}

.project{
    padding-bottom:80px;
}
.moveit{
    width:100%;
    height:255px;
    
}
.moveit img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: bottom center;
}
.card-body{
    background-color: rgb(42, 89, 115);
    color:white;
    width:100%;
    height:100%;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px;

    
}
.card-text{
    color:white;
}


.card{
    height:100%;
    border:none;
    border-radius:10px;
}
.links-web{
    text-decoration: none;
    color:black;
    transition:0.10s;
}
.link-button:hover .links-web{
    color:white;
}
.link-button{
    width:100px;
}
.contact{
    padding:10px 20px;
    color:white;
}

#scrollToTopBtn{
    position: fixed;
    bottom:50px;
    right:50px;
    display: none;
    z-index: 99;
   
}
body{
    background:linear-gradient(90deg,rgb(214, 190, 145),rgb(64, 100, 57),rgb(101, 101, 184)
    );
    animation:navbar-animation-body 18s linear infinite;
    background-size: 180% 180%;
}
@keyframes navbar-animation-body {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.navbar-toggler{
    background-color: rgb(255, 255, 255);
    color:white;
}
.nav-item{
    background-color: rgb(58, 56, 56);
    margin:5px;
    border-radius:20px;
    padding-left:20px;
    padding-right:20px;
}
.nav-link{
    color:white;
}
html{
    scroll-behavior:smooth;
}
.navbar-nav{
    padding-right:100px;
}
@media (max-width:991px){
    .navbar-nav{
        padding-right:0px;
    }
}






